body {
    font-family: Poppins, sans-serif; 
    margin: 0; 
    padding: 0;
}

.barrasup {
    background-image: url("../img/sfondobarrasup.jpg");
    padding: 10px 20px; 
    display: flex; 
    background-position: center;
    justify-content: space-between; 
    align-items: center; 
    background-size: cover;
    height: 150px;
}

.barrasup img {
    width: 400px;
    max-width: 100%;
    margin-left: -60px;
}

#home_container {
    color: white;
    transition: color 0.3s;
    margin-left: 30px;
    transform: scale(2);
    cursor: pointer;
}

#home_container:hover {
    color: #e6851e;
}

label {
    font-family: Poppins, sans-serif;
    font-weight: bold;
}

h1 {
    color: #e6851e;
    font-size: 7rem; 
    font-family: Poppins, sans-serif;
    font-weight: bold;
    margin: 0 auto; 
    margin-top: 5px;
    margin-bottom: -45px;
    display: flex;
    justify-content: center;
    max-width: 100%;
}

h2 {
    color: black;
    font-size: 1.4rem;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.title {
    color: white;
    font-size: 56px;
    text-align: center;
    flex-grow: 1;
    font-weight: bolder;
    margin: 0 auto; 
    cursor: pointer;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, white, #eeeeee);
}

.scriviPassword {
    width: 100%;
    max-width: 500px;
    display: flex;
    align-items: center;
}

.scriviPassword input {
    width: 100%;
    max-width: 400px;
    padding: 10px 0;
    border: 0;
    outline: 0;
}

#eyeIcon {
    color: black;
    transition: color 0.3s;
    cursor: pointer;
    margin-left: -30px;
}

#eyeIcon:hover {
    color: #e6851e;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
}

input[type="submit"] {
    background-color: #e6851e;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 15px 35.2%;
    font-size: 32px;
    font-weight: 550;
    letter-spacing: 0.5px;
    display: flex; 
    justify-content: center;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 8px;
    width: 100%;
    transition: 0.2s;
}

input[type="submit"]:hover {
    background-color: #1b1b1b;
    color: #e6851e;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65); 
    display: none; 
    z-index: 999;
}

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    border: 7px solid #e6851e;
    border-radius: 20px;
    padding: 15px 40px;
    z-index: 1000; 
    display: none; 
}

#testo_popup {
    color: #e6851e;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 25px;
}

@media (max-width: 376px) {
    h1 {
        font-size: 20vw;
        margin-bottom: -40px;
    }

    h2 {
        font-size: 5vw; 
        margin-top: 40px;
    }
}

@media (max-width: 580px) {
    .barrasup img {
        width: 70%;
        margin: 0 auto;
    }

    h1 {
        font-size: 14vw;
    }

    h2 {
        font-size: 5vw; 
        margin-top: 40px;
    }

    #home_container {
        font-size: 3vw;
        margin-left: 10px; 
    }
}
