.header {
    background-color: black;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}
.title {
    color: white;
    font-size: 56px;
    text-align:center;
    flex-grow: 1;
    font-weight: bolder;
    margin: 0 auto; 

    cursor: pointer;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
/* bisogna essere consistenti con lo stile dei colori (e dei bottoni) */

/* input[type="submit"] {
    width: 100%;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #45a049;
} */

input[type="submit"] {
    background-color: #FFFFFF;
    border: none;
    border-radius: 8px;
    color: black;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    transition: 0.2s;
}
input[type="submit"]:hover {
    background-color: black;
    color: white;
}

/* Stili per la barra superiore */
.barrasup {
    background-color: #1a1a1a; /* Colore di sfondo */
    color: rgb(255, 255, 255); /* Colore del testo */
    padding: 10px 20px; /* Spaziatura interna */
    display: flex; /* Per allineare i contenuti */
    justify-content: space-between; /* Per spaziare i contenuti */
    align-items: center; /* Per centrare verticalmente i contenuti */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombra */
    font-family: Arial, sans-serif; /* Tipo di carattere */
}

/* Stili per i link */
.barrasup a {
    color: rgb(255, 255, 255); /* Colore del testo */
    text-decoration: none; /* Rimuove la sottolineatura */
    margin: 0 10px; /* Margine ai link */
    margin-left: 20px; /* Margine ai link */
    transition: color 0.3s; /* Transizione del colore al passaggio del mouse */
}

.barrasup a:hover {
    color: #2572be; /* Cambia il colore al passaggio del mouse */
}
