html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Poppins, sans-serif;
}

.barrasup {
    background-image: url("../img/sfondobarrasup.jpg");
    background-size: cover;
    display: flex;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.barrasup img {
    width: 400px;
    max-width: 100%;
}

#home_container {
    color: white;
    transition: color 0.3s;
    margin-left: 30px;
    transform: scale(2);
    cursor: pointer;
}

#home_container:hover {
    color: #e6851e;
}

#account {
    color: white;
    transform: scale(2);
    transition: color 0.3s;
    cursor: pointer;
    margin-right: 30px;
}

#account:hover {
    color: #e6851e;
}

.dropdown {
    display: none;
    position: absolute;
    top: 90px;
    right: 43px;
    border-radius: 20px;
    background-color: #242424;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    width: 230px;
    height: auto;
    outline: 2px solid #b76812;
}

.dropdown ul {
    list-style-type: none;
    padding: 0;
    margin: 5px 0 0 0;
}

.dropdown ul li {
    padding: 10px 20px 10px 20px;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
}

.dropdown ul li a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.2s;
}

.dropdown ul li a:hover {
    color: #e6851e;
}

p {
    color: white;
    background-color: #e6851e;
    font-weight: 500;
    margin: 0;
    padding: 10px;
}

.rettangolo {
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    display: flex;
    width: 100%;
    height: 100px;
}

.barra2 {
    width: 80%;
    padding-bottom: 20px;
    border-radius: 8px;
    margin: 20px auto 0 auto;
    display: flex;
}
