.barraindex {
    background-image: url("../img/sfondoindex.jpg");
    padding-bottom: 300px;
}
b{
    color: #e6851e;
}
h1 {
    font-family: Poppins;
    font-weight: 500;
    color: #FFFFFF;
}
h2 {
    font-family: Poppins;
    font-weight: 600;
    color: #1b1b1b;
}
.button {
    background-color: #FFFFFF;
    border: none;
    border-radius: 8px;
    color: black;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    transition: 0.2s;
}
.button:hover {
    background-color: black;
    color: white;
}