

.barraindex {
    background-image: url("../img/sfondobarrasup.jpg");
    background-position: center;
    background-size: cover;
    display: flex; /* allineare contenuti */
    justify-content: center ; /* spaziare contenuti */
    align-items: center; /* centra verticalmente contenuti */
    height: 500px;
    background-repeat: no-repeat no-repeat;
    max-width: 100%;
}

b{
    color: #e6851e;
}
h1 {
    font-family: Poppins;
    font-weight: 500;
    color: #FFFFFF;
}
h2 {
    font-family: Poppins;
    font-weight: 600;
    color: #1b1b1b;
}
.button {
    background-color: #e6851e;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 15px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin: 4px 2px;
    cursor: pointer;
    transition: 0.2s;
}
.button:hover {
    background-color: #1b1b1b;
    color: #e6851e;
    transition: 0.2s;
}