.dbesercizi{
    background-color: #1b1b1b;
    position: absolute;
    top : 50% ; 
    left : 50%;
    transform: translate(-50%, -50%); 
    height: 500px;
    width: 330px;
    border-radius: 35px;
    z-index: 110;
}

.contenitoreesercizi{
    background-color: #1b1b1b;
    height: 50%;
    width: 90%;
    overflow-y: auto;
    margin-left: 19px;
}
.contenitoredb{
    background-color: #1b1b1b;
    height: 70%;
    width: 90%;
    overflow-y: auto;
    margin-left: 19px;
    margin-top: 14px;
}

.contenitoredb::-webkit-scrollbar{
    width: 10px;
    background-color: rgb(115, 115, 115);
    border-radius: 5px;
}
.contenitoredb::-webkit-scrollbar-thumb{
    background-color: #cfcfcf;
    border-radius: 5px;
}

.box-db{
    background-color: #2d2b2b;
    height: 220px;
    width: 96%;
    border-radius: 30px;
    cursor: pointer;
}


/* tutti tranne primo elemento */
.box-db:not(:first-child) {
    margin-top: 10px;
}

.box-db img{
    width: 90%;
    height:  70%;
    border-radius: 15px;
    /* position:relative;  */
    margin-top: -15px;
    margin-left: 15px;
}

.box-db h1{
    font-size: 25px;
    font-weight: 500;
    width: 75%;
    margin-top: 0;
    margin-left: 15px;
    padding-top: 10px;
    padding-left: 5px;
    white-space: nowrap; /* serve per non mandare il testo a capo */
    overflow: hidden; /* fa sparire il testo se supera il limite */
    text-overflow: ellipsis; /* mette i 3 punti */ 
    
}

#chiudidb{
    /* display: none; */
    background-color:red;
    color: #ffffff;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: -40px;
    border: none;
    transition: 0.15s;
}

#chiudidb:hover{
    background-color: rgb(222, 32, 32);
    color: #e9e9e9;
}

.contenitoredb > #chiudidb {
    display: block;
}

.dbpopupactive{
    transform: translate(-50%,-50%) scale(1) ;
}

input[type="number"] {
    width: 80px;
    padding: 5px;
    font-size: 26px;
    text-align: center;
    border: 0;
    outline: none;
    background-color: #1b1b1b;
    font-family: Poppins,sans-serif;
    color:  #e6851e;
    border-bottom: 2px solid #e6851e;
    height: 15px;
}
input[type="number"]:hover{
    border-bottom: none
}

.fa-xmark{
    cursor: pointer;
}

.search-bar input{
    margin: 20px 0px 0px 0px;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    font-size: 1em;
    border-radius: 20px;
    border: none;
    background-color: white;
    padding-left: 10px;
}
.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #1b1b1b;
    border-radius: 20px;
    margin-left: 10px;
    width: 90%;
    }

@media(width:450px) and (height:450px){
    .dbesercizi{
        height: 400px;
    }
    .contenitoredb{
        height: 60%;
    }
    
    
}