@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.barra_secondaria{
    margin: 0 auto; /* Centrare il contenitore */
    padding: 20px 20px ;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: left;
    height: 100px;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
}

.nuovascheda{
   width: 25%;
   height: 70%;
   max-width: 100%;
   background-color: #1b1b1b;
   border: none;
   border-radius: 16px;
   color: #e6851e;;
   font-weight: 600;
   font-size: 22px;
   cursor: pointer;
   margin-right: 50px ;
   font-family: Poppins;
}


h1{
    font-family: Poppins;
    font-size: 50px;
    font-weight: bold;
    color: #e6851e;
    
        
}

.scrollbox{
    width: 50%; /* Larghezza del contenitore */
    margin: 0 auto; /* Centrare il contenitore */
    padding: 20px 10px ;
    background-color: transparent;
    margin-top: 20px; /* Spazio sopra il contenitore */
    height:400px;
    border: 0;
    overflow-y: auto;
}

/* per la barra di scorrimento */
.scrollbox::-webkit-scrollbar {
    width: 10px;
    background-color: #e9e9e9;
    border-radius: 5px;
}

/* per la barra interna più piccola */
.scrollbox::-webkit-scrollbar-thumb {
    background-color: #cfcfcf;
    border-radius: 5px;
}

.box-scheda{
    width: 60%;
    padding: 10px 20px;
    font-weight: bold;
    color: #e6851e;
    border-radius: 25px;
    cursor: pointer;
    font-size: 30px;
    position: relative;
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-top: 10px;
    margin-left: 5px;
    height: 230px;
    background-color: #1b1b1b;
    border: none;
}

.box-scheda h2{
    font-size: 20px;
    font-family: Poppins, sans-serif;
    margin-top: -45px;
}

.first3{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 65%;
}

#ThreeDots{
    position: absolute;
    top: 5%;
    left:87%;
    cursor: pointer;
}

.DropDown3Dots{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 15%; 
        left :85%;
        border-radius: 20px;
        background-color: #242424;  /*rgb(59, 55, 55);*/
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        height: 80px;
        width: 132px;
        outline: 4px solid #b76812;
        transform:  scale(0) ;
        z-index: 10;
      }

.DD3Dactive{
    transform:  scale(1) ;
}

.overlay3dots{
    position: fixed;
    opacity: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: transparent;
    transition: 200ms ease-in-out;
    pointer-events: none;
}
.overlay3dotsactive{
    opacity: 1 ; 
    pointer-events: all;
}

.DropDown3Dots ul {
        
    list-style-type: none;
    padding: 0;
    margin-top: 2px;
    }
      
.DropDown3Dots ul li {
    padding: 10px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    padding-left: 20px;
    margin-bottom: -10px;
    color: #ffffff;
    transition: color 0.2s;
}

.DropDown3Dots ul li:hover{
    color: #e6851e;
}
    
      


.nuovaschedapopup{
    background: linear-gradient(to bottom, #1f1f1f, #111111);
    position: fixed;
    padding: 10px;
    top: 50%;
    left: 50%; 
    transform: translate(-50%,-50%) scale(0) ;
    transition: 200ms ease-in-out;
    z-index: 10;
    width: 250px;
    height: 100px;
    border-radius: 20px;
    height: 150px;
}

.nuovaschedapopupactive{
    transform: translate(-50%,-50%) scale(1) ;
}

.nuovaschedapopup h1{
    font-size: 30px; 
    margin-top: 0;
}

.input-field{
    position: relative;
    height: 20px;
    width: 100%;
    display: flex;
    align-items: center;
}

.input-field input[type="text"]
{
    position: absolute;
    background: transparent;
    border: none ; 
    box-shadow: none;
    font-size: 16px;
    color: white;
    width: 98%;
    margin-top: -15px;
    
}

.input-field label{
    position: absolute;
    top : 0 ; 
    left: 0 ;
    color:#aaa8a7; 
    pointer-events: none ;
    transition: 0.5s;
    font-family: Poppins, sans-serif;
    margin-top: -5px;
}

.input-field input[type="text"]:focus + label,
.input-field input[type="text"]:valid + label
{
    transform: scale(0);
}

.input-field span { /*Qyesta è la barra sotto il testo  */
    position: absolute; 
    bottom: 0 ;
    left: 0 ; 
    display: block ;
    background-color: #e6851e;
    width: 98%;
    height: 2px; 
}
 

.button{
   width:49%;
   height: 30%;
   background-color: #e6851e;
   border: none;
   border-radius: 40px;
   color: #1b1b1b;
   font-weight: bold;
   font-size:20px;
   cursor: pointer;
   margin-top: 10px; 
   font-family: Poppins;
}

.overlay{
    position: fixed;
    opacity: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    transition: 200ms ease-in-out;
    pointer-events: none;
}

.overlayactive{
    opacity: 1 ; 
    pointer-events: all;
}


h3{
    font-family: Poppins,sans-serif;
    font-size:30px ;
    margin-top: 10px;
}


.boxaperto{
    background-color: #1b1b1b;
    position: fixed ;
    top : 30% ; 
    left : 30%; 
    height: 500px;
    width: 330px;
    border-radius: 30px;
}


.top {
    display: flex;
}

h4{
    font-family: Poppins,sans-serif;
    font-size:30px ;
    color: #e6851e;
    margin-top: 28px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.boxaperto button{
    height: 10%;
    width: 50%;
    font-size: 15px;
    margin-left: 10px;
}

#salva{
    width: 23%;
    height: 8%;
    position: absolute;
    margin-top: 30px;
    margin-left: 240px;
}

.contenitoreesercizi{
    background-color: #1b1b1b;
    height: 350px;
    width: 100%;
    border-radius: 30px;
    margin-top: 15px;
    overflow-y: auto;
}

.box-exercise{
    background-color: #2d2b2b;
    height: 210px;
    width: 87%;
    margin-left: 22px;
    margin-top: 20px;
    border-radius: 30px;
}

.box-exercise img{
    width: 140px;
    height: 140px;
    border-radius: 10px;
    position:relative; 
    top: 20%;
    left:5%;
}

.box-exercise h1{
    position: relative;
    font-size: 16.8px;
    top : -50%;
    left: 59%;
    margin-top: -1px
}

.box-exercise h2 {
    font-family: Poppins,sans-serif;
    font-size:20px ;
    margin-bottom: -30px;
    color: #e6851e;
    margin-left: 15px;
    position: relative;
    top: 3%;
}