/* Stili per la barra superiore */
.barrasup {
    background-image: url("../img/sfondobarrasup.jpg");
    padding: 10px 20px; /* spaziatura interna */
    display: flex; /* allineare contenuti */
    background-position: center;
    justify-content: space-between; /* spaziare contenuti */
    align-items: center; /* centra verticalmente contenuti */
    background-size: cover;
    height: 150px;
}

/* Stili per i link */
.barrasup a {
    color: rgb(255, 255, 255); 
    text-decoration: none; /* rimuove sottolineatura */
    margin: 0 10px;
    margin-left: 20px; 
    transition: color 0.3s; /* transizione colore al passaggio del mouse */
}

.barrasup a:hover {
    background-image: url(../img/orangehome.png.png);
    color: #2572be; /* cambia colore al passaggio del mouse */
    /* da fare la transizione */
}

.header {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    text-align: center;
}

img {
    max-width: 100%; /* Larghezza massima dell'immagine è il 100% del contenitore */
    height: auto; /* L'altezza viene calcolata automaticamente per mantenere le proporzioni */
    display: block; /* Assicura che l'immagine sia un blocco, per gestire il layout correttamente */
}
.logo {
    max-width: 100%; /* Larghezza massima dell'immagine è il 100% del contenitore */
    height: auto; /* L'altezza viene calcolata automaticamente per mantenere le proporzioni */
    display: block;
    transform: translateX(-50px);
}
@media (max-width: 695px) {
    .logo {
        transform: translateX(0px); 
        transition: 0.3 s;
    }
}


label {
    font-family: Poppins, sans-serif;
    font-weight: bold;
}

h1{
    color:#e6851e;
    font-size: 10vw; 
    text-align:center;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    margin-bottom: -20px;
    max-width: auto
    ;
}

h2{
    color: black;
    font-size: 3vw;
    text-align:center;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    margin-top: 20px;
}

.title {
    color: white;
    font-size: 56px;
    text-align:center;
    flex-grow: 1;
    font-weight: bolder;
    margin: 0 auto; 
    cursor: pointer;
}

body {
    font-family: Poppins;
}
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    margin-top: 50px;
}
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #1b1b1b;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 24px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s;
}
input[type="submit"]:hover {
    background-color: #e6851e;
    color: white;
}
input[type="date"] {
    width: 100%; /* Imposta la larghezza desiderata */
    height: 38.5px;
    font-size: 18px;
    margin: 8px 0px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 10px; /* Aggiunge spazio interno */
  }
input[type="radio"] {
        margin-top: 10px; /* Aggiunge spazio sopra */
        margin-bottom: 20px; /* Aggiunge spazio sotto */
        margin-right: 10px;
        margin-left: 10px;
    }

  
